.main {
  background-color: var(--pink);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  overflow-y: auto;
  overflow-x: hidden;
}
h1 {
  color: var(--wheat);
  font-size: 28px;
}
.cards {
  background-color: var(--wheat);
  border-radius: 20px;
  margin: 20px 0;
  text-align: center;
  flex: auto;
  width: 100%;
  position: relative;
}
.heading {
  background-color: var(--purple);
  border-radius: 20px 20px 0 0;
  padding: 17px;
}
.heading > h2 {
  font-family: var(--font-primary);
}
h2 {
  font-size: 1.2em !important;
  margin-bottom: 0 !important;
}
.wrapper {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
p {
  margin-bottom: 0;
}
.content {
  position: relative;
  margin-top: 1em;
}
.content > .text {
  margin-left: 1em;
}
.content > a {
  margin-left: 1em;
}

a {
  text-decoration: auto !important;
  color: black !important;
}

.content::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: var(--grey) !important;
  width: 90%;
  height: 1px;
}
.title {
  color: var(--wheat);
}
strong {
  color: var(--dark);
}
.description {
  margin-top: 2em;
  width: 95%;
}
.text {
  font-family: var(--font-secondary);
  font-size: 1em;
  color: var(--grey);
}
.description > .text {
  font-size: .9em;
}
.title-description {
  font-size: 1em !important;
  margin-bottom: 10px !important;
}
.cardsItem {
  position: absolute;
  width: calc(100% - 20px);
  transition: all 0.3s ease;
  opacity: 0;
}
.secondaryButton {
  color: var(--dark) !important;
  background-color: var(--yellowdark) !important;
}
.video video {
  width: 300px;
  margin-top: 20px;
  border-radius: 8px;
  height: 18vh;
}
.video img {
  width: 300px;
  margin-top: 20px;
  border-radius: 8px;
  height: 18vh;
}